.box{
    height: 100px;
    width: 300px;
    background-color: pink;
   /*animation-name: color;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 3;
    animation-direction: normal;
    animation: color 2s ease-in-out 0s 2 normal;*/
}
@keyframes color{
    0%{
        background-color: green;
        border-radius: 2px;
    }
    50%{
    background-color: blue;
    border-radius: 50px;
    }
    100%{
        background-color: brown;
        border-radius: 100px;
    }
}

