h1{
    // <uniquifier>: Use a unique and descriptive class name
    // <weight>: Use a value from 400 to 700
    
    .brygada-1918-<uniquifier> {
      font-family: "Brygada 1918", serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
    }
}