#loader{
    height: 300px;
    width: 300px;
    border: 60px solid black;
    border-radius: 50%;
    margin: 0 auto;
    border-top-color: yellowgreen;
    animation: spin 5s linear infinite ;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
 
  }
